<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12">
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
      <a class="navbar-brand" (click)="filtreTipus=''">POKEDEX</a>
  
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" (click)="filtreTipus=''">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filtreTipus='Normal'" >Normal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filtreTipus='Fire'" >Fire</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filtreTipus='Water'" >Water</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="filtreTipus='Electric'" >Electric</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Other types
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" (click)="filtreTipus='Grass'">Grass</a>
              <a class="dropdown-item" (click)="filtreTipus='Ice'">Ice</a>
              <a class="dropdown-item" (click)="filtreTipus='Fighting'">Fighting</a>
              <a class="dropdown-item" (click)="filtreTipus='Poison'">Poison</a>
              <a class="dropdown-item" (click)="filtreTipus='Ground'">Ground</a>
              <a class="dropdown-item" (click)="filtreTipus='Flying'">Flying</a>
              <a class="dropdown-item" (click)="filtreTipus='Psychic'">Psychic</a>
              <a class="dropdown-item" (click)="filtreTipus='Bug'">Bug</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="buscador" name="something">
          <i class="fas fa-search seach ml-1 mt-2 mt-sm-0"></i> 
        </form>
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-4 mt-2">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Order by</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" [(ngModel)]="filtreEstadistiques" name="something2">
              <option selected value="pokedex">Pokedex order</option>
              <option value="name">Name</option>
              <option value="height">Height</option>
              <option value="attack">Attack</option>
            </select>
          </div>
    </div>
    <div class="col-md-4 mt-2">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" (change)="mostrarStats = !mostrarStats" aria-label="Checkbox for following text input">
          </div>
        </div>
        <div class="form-control">Don't show statistics</div>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <app-carta-pokemon 
      *ngFor="let pokemon of pokemons | buscador: buscador | filtreEstadistiques: filtreEstadistiques | filtreTipus: filtreTipus"
      [mostrarStats]="mostrarStats" 
      [pokemon]="pokemon"
      [maxStats]="maxStats">
    </app-carta-pokemon>
  </div>
  <router-outlet></router-outlet>
</div>