<div class="col-12 col-sm-4 col-lg-3 p-2 card__container">
  <article class="_card card">
    <header class="card__title card-header">
      <h2> {{pokemon.name}} </h2>
    </header>
    <section class="card__infoContainer pb-0 card-body d-flex h-25">
      <div class="card__imgContainer d-flex flex-wrap justify-content-center align-items-center">
        <img class="card__img rounded" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="">
      </div>
      <div class="card__typesDataContainer pl-3">
        <div class="w-100 d-flex flex-wrap justify-content-between pb-1">
          <div class="card__type" *ngFor="let type of pokemon.types">
            {{type}}
          </div>
        </div>
        <div class="card__dataContainer w-100">
          <p> <strong>Height:</strong> {{pokemon.height}}</p>
          <p> <strong>Weight:</strong> {{pokemon.weight}}</p>
          <p> <strong>Color :</strong> {{pokemon.color}}</p>
        </div>
      </div>
    </section>
    <section class="card-body">
      <p class="card__statsContainer">
        <span class="w-25 d-inline-block">HP</span>
        <span class="w-75 d-inline-block">
          <ngb-progressbar showValue="true" type="success" [value]="pokemon.hp"></ngb-progressbar>
        </span>
      </p>
      <p class="card__statsContainer">
        <span class="w-25 d-inline-block">Attack</span>
        <span class="w-75 d-inline-block">
          <ngb-progressbar showValue="true" type="success" [value]="pokemon.attack"></ngb-progressbar>
        </span>
      </p>
      <p class="card__statsContainer">
        <span class="w-25 d-inline-block">Defense</span>
        <span class="w-75 d-inline-block">
          <ngb-progressbar showValue="true" type="success" [value]="pokemon.defense"></ngb-progressbar>
        </span>
      </p>
      <p class="card__statsContainer">
        <span class="w-25 d-inline-block">Speed</span>
        <span class="w-75 d-inline-block">
          <ngb-progressbar showValue="true" type="success" [value]="pokemon.speed"></ngb-progressbar>
        </span>
      </p>
    </section>
    <footer class="card-footer">
      <button type="button" class="btn btn-warning mr-2"><i class="fas fa-pen"></i> Edit</button>
      <button type="button" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>
    </footer>
  </article>
</div>